@model Recipe

<h1>@Model.Name</h1>
<p><em>by: @Model.User.UserName</em></p>

@if (Model.Picture != null)
{
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture)"
        alt="Recipe image" style="max-width:400px;" />
}

<h3>Preparation Time: @Model.PrepTimeMinutes</h3>
<h3>Cook Time: @Model.CookTimeMinutes</h3>
<h3>Total Time: @Model.TotalTimeMinutes</h3>

<h4>Ingredients:</h4>
<ul>
    @foreach (var ingredient in Model.Ingredients)
    {
        <li>@ingredient.Quantity @ingredient.Ingredient.Name</li>
    }
</ul>

<h4>Steps:</h4>
<ol>
    @foreach (var step in Model.Steps)
    {
        <li>@step.Instruction</li>
    }
</ol>

<p>
    <a action="index">Back to All Recipes</a>
</p>
